ul {
  padding: 0;
  margin: 0;
}

.cv-temp {
  &__avatar {
    margin: auto;
    width: 300px;
    height: 300px;
    -webkit-clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    background: url(/img/profile.bd17ca27.jpg) no-repeat;
    background-size: 100%;
    background-position: center;
  }

  &__contact {
    &-name {
      h2 {
        font-size: 19px;
        font-weight: bold;
        line-height: 20px;
      }

      p {
        font-size: 13px;
        line-height: 16px;
      }
    }

    .fa {
      font-size: 25px;
      width: 25px;
    }
  }

  &__social {
    .fa {
      font-size: 20px;
      padding-right: 10px;
    }
  }

  &__ctn {
    &-title {
      border: 3px solid #D9C7AA;
      border-radius: 25px;
      font-weight: bold;
      font-size: 17px;
      width: 150px;
      line-height: 35px;
      text-align: center;
    }

    &-text {
      font-size: 13px;
      line-height: 25px;
      text-align: left;

      &--border {
        border-left: 2px solid #ccc;
        padding-left: 15px;
      }

      &--height{
        height: 80%;
      }
    }

    &-skills {
      &-item {
        display: flex;
        align-items: center;

        ul {
          line-height: 50px;
        }

        p {
          width: 70%;
          margin: auto 10px auto 0;
        }

        .progress {
          height: 5px;
          width: 110px;
        }

        .progress-bar {
          background-color: #DFAA7F;
        }

        a {
          font-weight: bold;
          color: black;
        }

        .fa {
          color: #D7AB97;
          font-size: 30px;
        }
      }
    }
  }

  &__left {
    background-color: #7E6B64;
  }

  &__right {
    p,
    .fa {
      color: #898686;
    }
  }

  a {
    transition: all .3s;

    &:hover {
      color: #fff !important;
      text-decoration: none;
      opacity: .7;
    }
  }
}
